.character-card-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  .character-caption {
    text-align: start;
  }
  .character-image {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 18px;
  }
}
